.content {
  width: 100vw; }
  .content input {
    width: 50vw;
    height: 35px;
    padding: 10px;
    font-size: 1.5rem; }
  .content ul {
    margin-left: 0;
    padding: 0; }
  .content li {
    display: inline-block;
    font-size: 1.5rem;
    margin-right: 10px;
    cursor: pointer; }
  .content .availability {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .content .block {
    width: 10vw;
    height: 10vw;
    background: black;
    margin-right: 10px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .content .block p {
      margin: auto;
      color: white; }
  .content .calendar {
    position: relative;
    padding: 3rem 0; }

.loading {
  margin-top: 2rem;
  text-align: center;
  font-size: 2rem; }
  .loading .fa {
    font-size: 6rem; }

.spin {
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite; }

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
