extends layout

block content
  
  .content(ng-app="app" ng-controller="appController")
    .loading(ng-show="calendarIsLoading")
      .fa.fa-spinner.spin
      p Baixando agenda  
    .wrapper(ng-show="!calendarIsLoading")  
      input.location(placeholder="location" ng-model="address" ng-change="getAddress(address)")
      .adresses(
        ng-click="calculateAvailability(sugestedAdresses[$index])" 
        ng-repeat="address in sugestedAdresses track by $index"
      ){{sugestedAdresses[$index]}} 
      .calendar(ng-show="chosenAddress")
        .loading(ng-show="calculatingAvailability")
          .fa.fa-spinner.spin
          p Calculando Dispobibilidade
        .agenda(ng-show="!calculatingAvailability")    
          ul
            li 01  
            li 02
            li 03
            li 04    
            li 05    
            li 06    
            li 07    
            li 08  
            li 09
            li 10
            li 11    
            li 12    
            li 13    
            li 14
          .availability
            .block
              p 14h - 16h      
            .block
              p 14h - 16h      
            .block
              p 14h - 16h      
            .block
              p 14h - 16h
          button CLEAR
