extends layout

block content
  
  .content(ng-app="app" ng-controller="appController")
    .loading(ng-show="isLoading")
      .fa.fa-spinner.spin
      p Baixando agenda  
    .agenda(ng-show="!isLoading")  
      input.location(placeholder="location" list="addresses" ng-model="address" ng-change="getAddress(address)")
      button.search(ng-click="calculateTravelTime()") Search  
      datalist(id="addresses") 
        option(ng-repeat="address in addresses" value="{{address}}") 
      .calendar
        ul
          li 01  
          li 02
          li 03
          li 04    
          li 05    
          li 06    
          li 07    
          li 08  
          li 09
          li 10
          li 11    
          li 12    
          li 13    
          li 14
        .availability
          .block
            p 14h - 16h      
          .block
            p 14h - 16h      
          .block
            p 14h - 16h      
          .block
            p 14h - 16h      
      .no-result
        h1 NONE
      button CLEAR
