extends layout

block content
  .content  
    input.location(placeholder="location")  
    .calendar
      ul
        li 01  
        li 02
        li 03
        li 04    
        li 05    
        li 06    
        li 07    
        li 08  
        li 09
        li 10
        li 11    
        li 12    
        li 13    
        li 14
      .availability
        .block      
        .block      
        .block      
        .block      
    .no-result
      h1 NONE
