doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src="/vendors/angular/angular.min.js")
    script(src="/library/Calendar.js")
    script.
      var calendar = new Calendar();  
      calendar.getGoogleCalendarData().then(function(data){
        console.log('AQUI',data);
      });
