doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/vendors/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src="/vendors/angular/angular.min.js")
    script(src="/library/ClassInformation.js")
    script(src="/library/Calendar.js")
    script(src="/library/Direction.js")
    script(src="/angular-components/ng-locale-pt-br.js")
    script(src="/angular-components/app.js")
    //- script.
    //-   var calendar = new Calendar();  
    //-   calendar.getGoogleCalendarData().then(function(data){
    //-     console.log('AQUI',data);
    //-   });
