doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src="/javascripts/Calendar.js")
    script.
      var calendar = new Calendar();  
      console.log(calendar.fetchGoogleData().then(function(data){
        console.log(data);
      }));
