.loading{
  margin-top: 2rem;
  text-align: center;
  font-size: 2rem;
  .fa{
    font-size:6rem;
  }
}

.spin{
  animation:spin 1s linear infinite;
}

@keyframes spin{
  100%{transform: rotate(360deg)}
}
